.about-page {
    text-align: center;
    margin: 50px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .about-page h2 {
    font-size: 2rem;
    color: #232f3e;
    margin-bottom: 20px;
  }
  
  .about-page p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
  }
  